language: python
python:
  - '3.5'
before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda env create -f environment.yml
  - source activate geneseekr
  
script:
  - python -m pytest tests/test_blastn.py
  - python -m pytest tests/test_blastp.py
  - python -m pytest tests/test_blastx.py
  - python -m pytest tests/test_tblastn.py
  - python -m pytest tests/test_tblastx.py
  - python -m pytest tests/test_imports.py
